
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "default_strap";

@import "mixins";

/* Renaming Bootstrap built in breakpoints, along with short mixin, for ease of use. 
 * Using Boostrap classes wherever possible, through @extend, @include or direct classes;
 * however these can be used to further prod stubborn elements. @include bp($size) is preferred, as stylesheet is written mobile first

*/

$small: $screen-sm-min; //768px
/* 
	@include bp($small) {
		--  styles for screen widths 768px and larger --
	}

	@include bp-max($small) {
		--  styles for screen width 768px and smaller --
	}
*/

$med: $screen-md-min; //992px
/* 
 * Medium devices (desktops, 992px and up)
	@include bp($med) {
		--  styles for devices 992px and up --
	}
*/

$lg: $screen-lg-min; //1200px
/* 
 * Large devices (large desktops, 1200px and up)
	@include bp($med) {
		--  styles for devices 1200px and up --
	}
*/


@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic|PT+Mono);

$hfont: 'PT Mono', sans-serif;
$bfont: 'Karla', sans-serif;

$color1:  #56684A;
$color2:  #57694B;
$color3:  #F1F09A;
$color4:  #E4E4E4;
$color5:  #979797;
$color6:  #E4E4E4;
$color7:  #D9D9D9;
$color8:  #979797;
$color10: #374336;
$color11: #1a700a;
$color12: #ddd;

$header-blue: #25B5E0;

.btn.btn-default {
	color: #FFF;
	-webkit-border-radius: 0;
	        border-radius: 0;
	border: 1px solid $color11;

}

input.form-control, input.wpcf7-form-control {
	-webkit-border-radius: 0;
	        border-radius: 0;
	border: 1px solid $color11;
	width: 	400px;
}

body {
	background: url(../img/Eug_tech_bgnd.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	    
   color: #FFF;
   font-family: $bfont;
}

// temporarily blanking out most of header..
#masthead {
	.site-branding, #site-navigation {
		display: none;
	}
	min-height: 1.5em;
	background-color: $header-blue;
}

.home-hero {
	padding-top: 3em;
	text-align: center;
	h1 {
		font-family: $hfont;
		font-size: 18px;
		text-transform: uppercase;
		text-align: center;
	}
	h2 {
		margin-top: 1.25em;
		margin-bottom: 0.8em;
	}
}

.subscribe.well {
	margin-top: 4em;
	margin-bottom: 4em;
	padding-top: 3em;
	padding-bottom: 3em;
	background: rgba($color3, 0.19);
	border-width: 0;
	// opacity: 0.19;
	-webkit-border-radius: 0;
	        border-radius: 0;
	p {
		text-align: center;
		line-height: 1.1;
		font-size: 20px;
		font-weight: normal;
		margin-bottom: 1em;
	}
	.mc-field-group, .clear {
		display: inline-block;
	}
	input[type="email"] {
		padding: 8px;
		color: #000;
		// padding: 0.75em 1.25em;
		// line-height: 20px;
		font-size: 14px;
		min-width: 280px;
	}
	input[type="submit"] {
		background: $header-blue;
		margin-left: 1.5em;
		line-height: 18px;
		font-size: 14px;
		padding-top: 9.5px;
		padding-bottom: 9.5px;
		// padding: 0.75em 1.25em;
	}
}

a {
	color: #FFF;
}

.episode-links {
	text-align: center;
	margin-bottom: 4em;
	a {
		// text-decoration: underline;
		border-bottom: 1px solid #fff;
		// font-weight: bold;
		font-size: 120%;
		display: inline-block;
		margin-right: 2em;
		&:last-child {
			margin-right: 0;
		}
	}
}

.feed {

	// @extend .col-xs-12;
	@extend .col-sm-6;
	@extend .col-md-4;
}

.feed-twitter {
	@extend .col-md-offset-2;
	@include bp-max($small) {
		width: 80%;
		max-width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2.5em;
	}
}

.feed-fb {
	
}

.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important;
    @include bp-max($small) {
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
		width: 80%;
		max-width: 80%;
    }
}

#twitter-widget-0, .fb-page.fb_iframe_widget {
	width:100%;
	max-width: 100%;

}

footer {
	margin-top: 2em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	// @include make-row();
	min-height: 4em;
	background-color: $header-blue;
	.site-info {
		// font-size: 18px;
		a {
			// text-decoration: underline;
			border-bottom: 1px dotted #fff;
		}
		p {
			line-height: 1.5em;
			padding: 0;
			margin: 0;
			span {
				margin: 0 0.5em;
				// font-size: 150%;
				// line-height: inherit;
				// line-height: 1em;
			}
		}
		// ?@include make-row();
		@include bp($small) {
			text-align: center;
		}
	}
}

// /* photo-1418065460487-3e41a6c84dc5: */
// /* Rectangle 2: */
// opacity: 0.6;
// background: #56684A;
// /* Subscribe_bgnd: */
// opacity: 0.19;
// background: #F1F09A;
// /* EUGENETECH.ORG: */
// font-family: PTMono-Regular;
// font-size: 18px;
// color: #FFFFFF;
// letter-spacing: 1px;
// line-height: 48px;
// /* Eugenetech.org produ: */
// font-family: Karla-Regular;
// font-size: 36px;
// color: #FFFFFF;
// line-height: 20px;
// /* Subscribe to our ema: */
// font-family: Karla-Regular;
// font-size: 20px;
// color: #FFFFFF;
// line-height: 23px;
// /* Rectangle 5: */
// background: #FFFFFF;
// border: 1px solid #57694B;
// /* Rectangle 5: */
// background: #E4E4E4;
// border: 1px solid #979797;
// /* Rectangle 5 Copy: */
// background: #E4E4E4;
// border: 1px solid #979797;
// /* Fill 1: */
// background: #56684A;
// /* EUG_TECH_logo_circle_white500: */
// /* Rectangle 7: */
// background: #25B5E0;
// /* Rectangle 7 Copy: */
// background: #25B5E0;
// /* Archive.org: */
// font-family: Karla-Regular;
// font-size: 20px;
// color: #D9D9D9;
// line-height: 20px;
// /* iTunes: */
// font-family: Karla-Regular;
// font-size: 20px;
// color: #D9D9D9;
// line-height: 20px;
// /* Stitcher.com: */
// font-family: Karla-Regular;
// font-size: 20px;
// color: #D9D9D9;
// line-height: 20px;
// /* RSS Copy: */
// font-family: Karla-Regular;
// font-size: 20px;
// color: #D9D9D9;
// line-height: 20px;
// /* Hear our past episod: */
// font-family: Karla-Regular;
// font-size: 20px;
// color: #D9D9D9;
// line-height: 20px;
// /* Twitter: */
// font-family: Karla-Regular;
// font-size: 20px;
// color: #374336;
// line-height: 20px;
// /* Facebook: */
// font-family: Karla-Regular;
// font-size: 20px;
// color: #374336;
// line-height: 20px;
// /* Rectangle 5 Copy 2: */
// background: #25B5E0;
// border: 1px solid #1A700A;
// /* SUBSCRIBE: */
// font-family: Karla-Regular;
// font-size: 18px;
// color: #FFFFFF;
// letter-spacing: 1.2px;
// line-height: 22px;
// /* Rectangle 5 Copy 2: */
// background: #25B5E0;
// border: 1px solid #1A700A;
// box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.50);
// /* SUBSCRIBE: */
// font-family: Karla-Regular;
// font-size: 18px;
// color: #DDDDDD;
// letter-spacing: 1.2px;
// line-height: 22px;
// /* Rectangle 5 Copy 2: */
// background: #1A700A;
// border: 1px solid #1A700A;
// box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.50);
// /* SUBSCRIBE: */
// font-family: Karla-Regular;
// font-size: 18px;
// color: #FFFFFF;
// letter-spacing: 1.2px;
// line-height: 22px;
// /* YOUR EMAIL: */
// font-family: Helvetica;
// font-size: 14px;
// color: #D9D9D9;
// letter-spacing: 0.93px;
// line-height: 17px;
// /* Currently we are tea: */
// font-family: Karla-Regular;
// font-size: 18px;
// color: #FFFFFF;
// line-height: 20px;
// /* credits, partnership: */
// font-family: Karla-Regular;
// font-size: 14px;
// color: #FFFFFF;
// line-height: 20px;
